@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
/* regularisation du navbar et de ces contenu */

/* ************************* the navbar bouton menu hamburger ************************************** */
  .bar1, .bar2, .bar3 {
    width: 26px;
    height: 2px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
    border: 1px solid #333;
    border-radius: 10%;
  }
  .navbar-toggler{
    border: none !important;
    display: inline-block;
    cursor: pointer;
    position: absolute;
    right: 6px;
    top: 9px;
  }


  /* ****************************************the navbar brand**************************************************************** */
  .navbar-brand{
 font-family:"Roboto",sans-serif;
    font-weight: bold;
   
    font-size: 40px;
  }
  .nav-item{
    align-items: center;
    justify-content: center;
    margin: 0 10px !important;
   font-weight:600;
   font-size: 17px !important;
  }
  .nav-item:hover{
    /* border-bottom: 2px solid #1876f2; */
    align-items:center;
  }
  .navbar-brand img{
    width: 50px;
    height: 54px;
    object-fit: cover;
    margin-top: 5px;
  }

  .navbar-brand span{
    font-size: 2px;
    font-weight: 300;
}

@media(max-width:1054px){
  .nav-item{
    margin: 0 4px;
  }
  .navbar-brand img{
    width: 40px;
    height: 35px;
    object-fit: cover;
  }
 

}

  .divider {
    font-size: 30px;
    display: flex;
    align-items: center;
    width: 100px;
    position: absolute;
    left: 74px;
    top:56%;
    font-weight: 200;
  }
  .divider img{
    width: 18px;
    height: 18px;
    object-fit: contain;
    border-radius: 30%;
  }
  
  .divider::before, .divider::after {
    flex: 1;
    content: '';
    padding: 1px;
    background-color:rgb(5, 72, 196);
    margin: 5px;
  }
  #navbar .navbar-brand{
    font-size: 27px;
    letter-spacing: -0.00001rem;
    word-spacing: -0.11rem;
    font-family: "Roboto";
  }
  #nav .navbar-brand{
    font-size: 27px;
    letter-spacing: -0.00001rem;
    word-spacing: -0.11rem;
    font-family: "Roboto";
  }

  #navbar,
   Link{
    padding-top: 0 !important;
    padding-bottom: 4px !important;
    min-height: 20px !important;
  }

  #nav,
  Link {
    background-color: whitesmoke;
    position: fixed;
    top: -150px;
    width: 100%;
    display: block;
    transition: top 0.3s;
    z-index: 100;
    padding-top: 0 !important;
    padding-bottom: 4px !important;
    min-height: 20px !important;
   
  }
  @media(max-width:986px){
    #navbar{
        padding: 0 0;
        align-items: center;
    }
    #navbar .navbar-brand{
      font-size: 21px;
      letter-spacing: -0.0009rem;
    word-spacing: -0.009rem;
    }
    #nav .navbar-brand{
      font-size: 21px;
      letter-spacing: -0.0009rem;
    word-spacing: -0.009rem;
    }
    .navbar-brand img{
  width: 40px;
  height: 40px;
  margin-top: 2px;
    }
    .nav-item:hover{
      border-bottom: none;
      align-items: center;
    }
    
  .divider {
    font-size: 1px;
    display: flex;
    align-items: center;
    width: 100px;
    left: 52px;
    top:60%;
  }
  .divider img{
    width: 14px;
    height: 14px;
    object-fit: contain;
  }
  
  .divider::before, .divider::after {
    flex: 1;
    content: '';
    padding:1px;
    background-color:rgb(5, 72, 196);
    margin:6px;
    width: 20px;
  }
    
  }

  /* ***************************the nav link and nav item ******************************* */


  /* **********************the dropdown menu sur l'ecran de laptop et sur le desktop*********************************** */
  .nav-item:hover .dropdownmenu{
    display: block;
  }

  .update{
    width: 250px;
    height: 400px;
    margin-right: 32%;
  }
  .update ul li{
    margin: 10px 10px;
    font-size: 16px !important;
  }
  .update ul li:hover{
    border-bottom: 1px solid gainsboro;
  }
  .update ul li a{
    font-size: 16px;
    font-family:sans-serif;
    font-weight: 400;
  }
.dropdownmenu{
  position: absolute;
  top: 100%;
  z-index: 100;
  background-color: white;
  display: none;
  border-top: 1px solid #1876f2;
}
.dropdownmenu ul li a{
  text-decoration: none;
  color: gray;
  font-size: 16px;
  font-weight: 400;
}
    #rowcol{
      width:900px;
      height: 500px;
      background-color: white;
     position: relative;
      right:50%;
      padding: 20px;
    }
    #rowcol h4{
   margin-left: 28px;
   font-family: "Lato";
   color: #1876f2;
   font-weight: bold;
    }
    #rowcol col{
      margin: 10px 20px;
      padding: 20px;
      border-left: 1px solid gainsboro;
    }
    #rowcol ul li{
      margin: 10px 2px;
    }
    #rowcol ul li:hover{
    border-bottom: 1px solid gainsboro;
    }
    #rowcol ul li a{
      font-size: 17px;
      font-family:sans-serif;
      text-decoration: none;
      color: gray;
    }
    @media(max-width:850px){
      .nav-item{
        margin:0 10px;
        padding: 1px 0;
        border-bottom: 1px solid gainsboro;
        display: flex;
        justify-content: space-between;
        font-size: 17px;
          }
     .nav-link span{
      display: flex;
      float: right;
      font-weight: 400;
     }
     .nav-link{
      font-size: 16px;
     }
    }
    
  