@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Gabarito:wght@600;700&family=Lato:wght@300;700&family=Merriweather:wght@900&family=Oswald:wght@400;500;600&family=Poppins:wght@500&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300&family=Roboto:wght@400;500;700;900&family=Rubik:wght@500&display=swap'); 


.carousel-item img{
    height: 700px;
    object-fit: cover;
}

#carouselExampleAutoplaying .carousel-item:before {
    content: '';
    display: block;
    position: absolute;
    padding: 0 20px;
    background-image: linear-gradient(rgba(13, 47, 70, 0.7),rgba(13, 47, 70, 0.7));
    width: 100vw;
    top: 0;
    height: 700px;
  }
  #btn button{
    position: absolute;
    top: 50%;
    width: 3%;
    height: 5%;
    padding: 2px;
    border-radius: 30px;
    border: 1px solid white;
    object-fit: cover;
    font-size: 18px;
    margin: 0 30px;
    font-weight: bold !important;
    transition: .5s linear;
  }
  #btn button:hover{
    background-color: rgb(4, 76, 231);
    color: white !important;
    border: 1px solid rgb(4, 76, 231);
  }
  #carousel-caption{
    position: absolute;
    top: 35%;
  }
  #carousel-caption h3{
    font-family: "Oswald";
    padding: 0%;
    font-size: 70px;
    overflow: hidden;
    font-weight: bold;
  }
  #carousel-caption p{
    font-size: 25px;
  }
  #carousel-caption button{
    background-color: transparent;
    border: 1px solid rgb(255, 255, 255);
 color: white;
 font-size: 22px;
 padding: 12px 15px;
 border-radius: 20px;
 font-weight: bold;
 transition: .5s linear;
  }
  #carousel-caption button:hover{
    background-color: rgb(8, 61, 206);
    border: 1px solid rgb(8, 61, 206) ;
  }

  /* ******************the body contenant the icon et au fur du form validation et son responsive****************************8 */
  #imge img{
    width: 130px;
    height:130px;
  }
  #imge h4{
    font-weight: bold;
    font-family: "Roboto";
  }
  #imge p{
    color: gray;
    font-size: 18px;
    font-family: "Roboto";
    line-height: 1.8rem;
  }
  #contain{
   padding: 10px 40px;
  }
  form{
    border: 1px solid white !important ;
    padding: 20px !important;
    border-radius: 20px !important;
    position: absolute;
    top: 97%;
    background-color: white;
   right: 7%;
    width: 26%;
  }
  form h3{
font-family: "Gabarito","Oswald";
font-size: 40px;
font-weight: bold;
padding: 3px 7px;
  }
 form input,select{
  padding: 10px 3px !important;
  font-size: 22px !important;
  border-radius: 20px !important;
  background-color: whitesmoke !important;
  margin: 14px 0;
 }
 form label{
  font-size: 22px !important;
  font-family: "Roboto";
 }
#first{
  margin: 10px 0;
  padding: 20px;
}
#first p{
  position: absolute;
  width:10%;
  height: 10%;
  background-color: rgb(20, 71, 238);
  border-radius:100%;
  object-fit:contain;
  color: white;
  font-size: 23px;
  text-align: center;
  align-items: center;
  z-index: 2;
}
#first p span{
  display: block;
  padding: 4px;
  text-align: center;
  font-family: "Oswald";
}
  
 #myimg{
  width: 70%;
  height: 570px;
  object-fit: contain;
  transition: .2s linear;
 }
 #myimg:hover{
  height: 590px;
 }
 .second img{
  width: 45px;
  height: 45px;
 margin-top: -5px;
 animation: felix 3s linear infinite;
 position: absolute;

 }
 @keyframes felix {
  0%{
   left: 14%;
   margin-top: -17px;
  }
  50%{
  right: 65%;
    margin-top: -2px;
  }
  100%{
    left:14%;
    margin-top: -17px;
  }
 }
 #tree h3{
  font-family: "Oswald";
  overflow: hidden;
  margin-top: 45px;
  font-size: 45px;
  font-weight: bold;
  line-height:3.4rem;
 }
 #tree p{
  font-family: "Roboto";
  line-height: 1.8rem;
  font-size: 20px;
  color: gray;
  margin: 5px 0;
  text-align: justify;
 }
 #tree button{
  padding: 12px;
  font-size: 20px !important;
  border-radius: 20px;
 }

 @media(max-width:750px){
  #first{
    margin:0 0;
    padding: 10px;
  }
  #first p{
    position: absolute;
    width:33%;
    height: 10%;
    background-color: rgb(15, 110, 235);
    border-radius:50%;
    object-fit:contain;
    color: white;
    font-size: 16px;
    text-align: center;
    align-items: center;
    z-index: 2;
    padding: 10px;
  }
  #first p span{
    display: block;
    padding: 4px;
    text-align: center;
    font-family: "Oswald";
  }
  #myimg{
    width: 100%;
    height: 600px;
    object-fit: contain;
   }
   #myimg:hover{
    height: 610px;
   }
   .second img{
    width: 45px;
    height: 45px;
   margin-top: -5px;
   animation: felix 3s linear infinite;
   position: absolute;
  
 }
 @keyframes felix {
  0%{
   left: 27%;
   margin-top: -18px;
  }
  50%{
  right: 50%;
    margin-top: -2px;
  }
  100%{
    left:27%;
    margin-top: -18px;
  }
 
 }
 #tree h3{
  font-family: "Oswald";
  overflow: hidden;
  margin-top: 2px;
  font-size: 25px;
  font-weight: bold;
  line-height:1.9rem;
 }
 #tree p{
  font-family: "Roboto";
  line-height: 1.8rem;
  font-size: 17px;
  color: gray;
  margin: 5px 0;
 }
 #tree button{
  padding: 6px !important;
  font-size: 20px !important;
  border-radius: 20px;
 }

}

 /* *************la responsive et dans toutes  ses formes*************************8 */
 @media(max-width:1000px){
  #contain{
    padding: 10px 20px;
   }
   #imge{
    padding: 10px 10px;
   }
   #imge img{
    width: 65px;
    height:65px;
  }
  #imge h4{
    font-weight: bold;
  }
  form{
    border: 1px solid white !important ;
    padding: 20px !important;
    border-radius: 20px !important;
    position:relative;
    top: 0;
    background-color: white;
   right: 1%;
    width:100%;
  }
  form h3{
    font-family: "Gabarito","Oswald";
    font-size: 22px;
    font-weight: bold;
    padding: 1px 2px;
      }

      form input,select{
        padding: 9px 3px !important;
        font-size: 17px !important;
        border-radius: 20px !important;
        background-color: whitesmoke !important;
        margin: 12px 0;
       }
       form label{
        font-size: 18px !important;
        font-family: "Roboto";
        margin: 0 10px !important;
       }
 }

/* fin de la partie d'icon et son responsive  */
@media(max-width:1100px){
    .carousel-item img{
        height: 500px;
        object-fit: cover;
    }
    #carouselExampleAutoplaying .carousel-item:before {
        content: '';
        display: block;
        position: absolute;
        width: 100vw;
        top: 0;
        height: 500px;
      }
      #btn button{
        position: absolute;
        top: 70%;
        width: 9%;
        height: 7%;
        padding: 2px;
        border-radius: 50%;
        border: 1px solid white;
        object-fit: cover;
        font-size: 17px;
        margin: 0 15px;
      }

      #carousel-caption h3{
        font-family: "Oswald";
        padding: 0%;
        font-size: 23px;
        overflow: hidden;
        font-weight: bold;
      }
      #carousel-caption p{
        font-size: 17px;
      }
      #carousel-caption button{
        background-color: transparent;
        border: 1px solid white;
     color: white;
     font-size: 20px;
     padding: 6px 12px;
     border-radius: 20px;
     font-weight: bold;
      }
}