#myid{
    background-color:rgb(34, 130, 255);
    font-size: 25px;
    color: white !important;
    padding: 20px;
    border-radius: 50%;
}
.blue{
    color: rgb(55, 142, 255);
    padding: 0 5px;
}
.modifie{
    display: flex;
    justify-content: space-between;
    width: 90%;
}
.modifie h5{
   font-family:Georgia, 'Times New Roman', Times, serif;
   font-weight: bold;
}
.modifie span{
    color: gray;
    font-size: 18px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.carousel-item{
    background-color: whitesmoke !important;
}
.checked{
    color: orange;
}
.btn1{
    position: absolute;
    left: -24px;
}
#btn1 span{
    color: rgb(33, 73, 252) !important;
    font-size: 30px;
}
#btn2 span{
    color: rgb(33, 73, 252) !important;
    font-size: 30px;
}
.card p{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    color: gray;
}

.cards-wrapper{
    display: flex;
    justify-content: space-between;
}
.cards-wrapper div{
margin: 0 8px;
}

.cards-wrapper div img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    transition: height .2s linear;
}
.cards-wrapper div img:hover{
    width: 100%;
    height: 300px;
}
#container{
    background-color: white !important;
}

#container2{
    background-color: whitesmoke !important;
    padding: 15px 40px;
}


.col h3{
    margin: 0 10px !important;
    justify-content: center;
    text-align: center;
}
.col h3 span{
    display: block;
    
}
#carousel-indicatores{
    display: flex;
    position: absolute;
    top: 100%;
}

#carousel-indicatores button{
   
    width: 10px !important;
    border: 4px solid rgb(2, 53, 192) !important;
    height: 10px !important;
    border-radius: 50% !important;
}
#carousel-indicatores button .active{
    width: 25px !important;
    height: 25px !important;
    border-radius: 50% !important;
    background-color: rgb(17, 77, 241)  !important;
}


@media(max-width:850px){
    #myid{
        background-color:rgb(34, 130, 255);
        font-size: 23px;
        color: white !important;
        padding: 17px;
        border-radius: 50%;
    }
    .col h3 span{
        font-size: 20px;
    }
  
        #container2{
            background-color: whitesmoke !important;
            padding: 15px 2px;
        }

        .cards-wrapper div{
            margin: 0 0;
        }

        .cards-wrapper div img{
            width: 100%;
            height: 230px;
            transition: height .2s linear;
        }
        .cards-wrapper div img:hover{
            width: 100%;
            height: 235px;
        }
        #btn1{
            position: absolute;
            left: -5px;
            top:-10%;
        }
        #btn1 span{
            color: #1876f2 !important;
            font-size: 23px;
            position: absolute;
            margin: 20px 30px;
           
        }
        #btn2{
            position: absolute;
            right: -5px;
            top: -10%;
        }
        #btn2 span{
            color: #1876f2 !important;
            font-size: 23px;
            position: absolute;
            margin: 20px 30px;
        }

       
        
       
}
