*{
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}
html,body{
  font-family: sans-serif;
  background-color: whitesmoke;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x:hidden;
}